/*
    Class: CIT218 ASP.NET
    Instructor: John Velis
    Created by: Bethany Beery
    Date Created: 4/13/2014

    Styling for Administrators
*/



/* Reset Browser Defaults and set website defaults */
*  {
    margin: 0 0 0 0px;
    padding: 0;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    }

header, footer, hgroup, nav, section {display: block;}

body {
    color:black;
    font-size: 12px;
    background-color:#000039; 
	line-height: 1.5;
    }

header {
    margin-top:25px;
    color:white;
    height:50px;
    }
       
       /*LOGO*/
       header img { 
           margin-top:10px;
           margin-bottom:30px;
           }

article img, section img {
    margin-left: 125px;
    margin-top: 30px;
    }

label {
    color:black;
    padding-right:5px;
    }

a {text-decoration: none;}

h1 {font-size: 1.5em; text-align:center; font-weight: 500; letter-spacing:1px; padding-top:40px; color:#FF6600; font-family:Rockwell }
h2 {font-size: 1em; text-align:center; color:black; font-weight: 500; letter-spacing:1px; padding-bottom:40px; margin: 0 auto;}
h3 {font-size: 1.2em; text-align:center; color:#000039; font-weight: 600; letter-spacing:1px; margin: 0 auto; padding-top:40px;} 
h4 {font-size: 1em; text-align:center; color:#000039; font-weight: 500; letter-spacing:0px; margin: 0 auto;}


/* Floats */
.float-left {float: left;}
.float-right {float: right;}
.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    }

/* page layout */
.pageFormatting { /* centers page and sets width */
    margin: 0 auto;
    max-width: 960px;
    }

.white_background {background-color:white;}

#container {width:960px; margin: 0 auto; background-color:white;}

#Content_Intro {width:960px; height:100px;}

#Content_LeftColumn {float:left; width:320px; height:500px}

#Content_MiddleColumnn {float:left; width:320px; height:500px}

#Content_RightColumn {float:left; width:320px; height:500px}


/*Makes error message orange*/
 .error {color:#FF6600; font-size: 1em; padding-left:35px;}  


/* Login (Top right Register and log out) */
#login {
    display: block;
    font-size: .75em;
    font-weight: 500;
    margin: 0 0 10px ;
    text-align: right;
    }

    #login a {
        color:black;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px; /*square around text*/
        background-color: #C3DFE6; /*light blue*/
        text-decoration: none;
        }
        
        #login a:hover {color:#FF6600; /*orange on roll over*/ }

    #login li {
        display: inline;
        list-style: none;
        }

/* Navigation (Home, take quiz..) */
ul#navigation {
    font-size: 1em;
    font-weight: 500;
    letter-spacing:1px;
    margin: 15px 0 35px;
    padding: 0;
    text-align: right;
    }

    ul#navigation li {
        display: inline;
        padding-left: 15px;
        }

    ul#navigation li a {
        color:white;
        text-decoration: none; 
        }

        ul#navigation li a:hover {color:  #FF6600; /*orange on roll over*/ }


/* Body content */
section {
    margin: 20px auto;
    max-width: 960px;
    background-color:white;
}

article {    
    margin: 20px auto;
    max-width: 320px;
    height: 451px;
    background-color:white;
    }

footer {
    clear: both;
    background-color: #000039;
    color:white;
    text-align:left;
    margin-top:60px;
    font-size: .9em;
    }

/* Gridview styling */

.GV_Table {
    border-collapse: collapse;
    width:650px;
    margin:15px 155px 15px 155px;
}

    .GV_Table tr th { /*top heading */
        color:white;
        background-color:#000039;
        padding:10px 5px 10px 5px;
        border:none; 
        font-family:Arial;
        text-align:center;
        font-size:11px;
        font-weight:normal;
        text-transform:capitalize;
    }

            .GV_Table tr:nth-child(2n+2) td{ background-color:white }

            .GV_Table tr:nth-of-type(2n+1) td{ background-color:#F6E3CE}
    
    .GV_Table tr td { /*Rows*/
        padding: 5px 10px 5px 10px;
        color:black;
        background-color:white;
        font-family:Arial;
        font-size:11px;
        text-align:center;
        border:none;
        vertical-align:middle;
        }

          .GV_Table tr td:first-child { text-align:center; }

/* Form */
            
        table {width:550px;}

        .centerTable {margin-left:315px; margin-bottom: 25px;}

        input:focus, textarea:focus {border: 1px solid #FF6600;} /*orange border around text box*/
    
        td {padding-top:5px;}

/*BUTTONS

/*button outside of gridview  */
input[type="submit"] {
    background-color: #FF6600;
    color: white;
    font-family: Rockwell;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    padding: 5px;
    margin-left:407px;
    margin-bottom:40px;
    width:150px;
    }

/*button inside gridview*/
    input[type="button"] {
    background-color:#000039;
    margin:auto, 0;
    color:white;
    font-family:Arial;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    padding: 5px;
    width: 60px;
    height:35px;
    }